.footer{
    padding: 20px 15px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.45;
    color: #6B6F82;
    text-align: center;

    a{
        color :#1E9FF2;
    }
    
}