

nav{

    ul{
        list-style: none;
    }
    .nav-slider{

        transition: all ease .5s;
        box-shadow: 3px 8px 8px 8px rgba($color: #000, $alpha: 0.2);
        padding:20px;
        position :absolute;
        position: fixed;
        top :0;
        list-style: none;

        left: -1000px;
        z-index : 2;
        height: 100vh;
        background-color: #fff;
        font-size: 18px;

        .slider-items{

            padding-top: 30px;
            li{
                padding :12px 30px 12px 18px;
            }
    
            i {
                color : #6B6F82;
            }
            
             .slider-links {
                padding-right: 10px;
                color : #6B6F82;
                ;
            }

        }

   

        
    }

    .nav-slider.show{
        
        top:0;
        left: 0;

    }









    display: grid;
    grid-template-columns: 1fr;
    grid-gap :0em;

     .nav-top-row{
         
         width: 100%;
         background-color: #fff;        
         
         .brand-logo-section{
            margin : auto;
            
            text-align: center;

            .brand-logo{
                padding-top: 15px;
                height :40px;
                width : 120px;
            }          
        }
         
     }

    
     .nav-bottom-row{
        background-color: #2C303B;
        
         padding :20px 0;

         ul{           
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
             list-style: none;
             
             li{
              
                font-family: 'Quicksand';


                 display: inline;
             }
         }

     }
 }

 @media screen and (min-width: 992px){
    .burger{
        display: none;
   

 }
}

 @media screen and (max-width: 992px){
    .nav-top-row{

        
        display: grid;
        align-items: center;
        // justify-items: center;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-areas: "burger logo  gap";
        justify-content: space-between;
    }
  
    #burger{
       padding-left :50px;
       font-size: 28px;
        display: block;
        color : #6B6F82;
        
    }

    .brand-logo{
        grid-area: logo;
    }
    .nav-bottom-row{
        display :none;
    }

 }

 #burger-menu{
    color : #6B6F82;
    padding-bottom: 10px;
     
     float: right;
     font-size: 40px;
 }