*{
    margin: 0;
    padding: 0;
}

i{
    padding-right: 5px;
    color: whitesmoke;
}


body{
   background-color:  #F4F5FA;
      
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.container{
    width: 85%;
    margin: auto;

}

@media screen and (min-width: 1225px){
    .container{
        width : 1000px;
    }

}

@media screen and (max-width: 600px){
    .container{

        width: 90%;
   

    }
}

