@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xw.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

i {
  padding-right: 5px;
  color: whitesmoke;
}

body {
  background-color: #F4F5FA;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.container {
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 1225px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 0em;
}

nav ul {
  list-style: none;
}

nav .nav-slider {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-box-shadow: 3px 8px 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 8px 8px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: absolute;
  position: fixed;
  top: 0;
  list-style: none;
  left: -1000px;
  z-index: 2;
  height: 100vh;
  background-color: #fff;
  font-size: 18px;
}

nav .nav-slider .slider-items {
  padding-top: 30px;
}

nav .nav-slider .slider-items li {
  padding: 12px 30px 12px 18px;
}

nav .nav-slider .slider-items i {
  color: #6B6F82;
}

nav .nav-slider .slider-items .slider-links {
  padding-right: 10px;
  color: #6B6F82;
}

nav .nav-slider.show {
  top: 0;
  left: 0;
}

nav .nav-top-row {
  width: 100%;
  background-color: #fff;
}

nav .nav-top-row .brand-logo-section {
  margin: auto;
  text-align: center;
}

nav .nav-top-row .brand-logo-section .brand-logo {
  padding-top: 15px;
  height: 40px;
  width: 120px;
}

nav .nav-bottom-row {
  background-color: #2C303B;
  padding: 20px 0;
}

nav .nav-bottom-row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

nav .nav-bottom-row ul li {
  font-family: 'Quicksand';
  display: inline;
}

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .nav-top-row {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "burger logo  gap";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #burger {
    padding-left: 50px;
    font-size: 28px;
    display: block;
    color: #6B6F82;
  }
  .brand-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo;
  }
  .nav-bottom-row {
    display: none;
  }
}

#burger-menu {
  color: #6B6F82;
  padding-bottom: 10px;
  float: right;
  font-size: 40px;
}

.data-section {
  margin-top: 30px;
}

.data-title {
  font-size: 29px;
  font-family: 'Quicksand';
  color: #464855;
}

.data-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
}

.data-grid .data {
  -webkit-transition: -webkit-box-shadow .8s;
  transition: -webkit-box-shadow .8s;
  transition: box-shadow .8s;
  transition: box-shadow .8s, -webkit-box-shadow .8s;
  border-radius: 6px;
  background: #fff;
  padding: 22px;
  border: 1px solid #dddddd;
}

.data-grid .data h1 {
  color: #1E9FF2;
  font-size: 21px;
  font-family: 'Quicksand';
  font-weight: 400;
}

.data-grid .data h6 {
  color: #464855;
  font-size: 14px;
  font-family: 'Quicksand';
  font-weight: 400;
  padding-top: 5px;
}

.data-grid .data:hover {
  -webkit-box-shadow: 3px 8px 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
  .data-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .data-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.article {
  margin-top: 50px;
}

.article .main-heading {
  font-size: 24px;
  font-weight: 1000;
  font-family: 'Quicksand';
  color: #000000;
  padding: 0 0 15px 0;
}

.article .sub-heading {
  font-size: 22px;
  font-family: 'Quicksand';
  color: #464855;
  padding: 0 0 15px 0;
}

.article .article-content {
  font-size: 20px;
  font-family: 'Quicksand';
  color: #6B6F82;
  padding: 0 0 15px 0;
}

.form__group {
  position: relative;
  text-align: center;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  margin: auto;
}

.form__field {
  font-family: 'Quicksand';
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  font-family: 'Quicksand';
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #000000, #464855);
     border-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#464855));
     border-image: linear-gradient(to right, #000000, #464855);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.searchtable {
  margin-top: 30px;
  -webkit-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.searchtable .search-table-header {
  padding: 20px;
  color: #464855;
}

.searchtable .results {
  margin-top: 25px;
  list-style: none;
}

.searchtable .results li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 17.5px;
  font-size: 16px;
  font-family: 'Quicksand';
}

.searchtable .results li a {
  color: #1E9FF2;
}

.footer {
  padding: 20px 15px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.45;
  color: #6B6F82;
  text-align: center;
}

.footer a {
  color: #1E9FF2;
}
/*# sourceMappingURL=app.css.map */