
.article{

   margin-top: 50px;



    
    .main-heading{
        font-size :24px;
        font-weight: 1000;
        font-family:  'Quicksand';
        color: #000000;
        padding :0 0 15px 0;
    }
    
    .sub-heading{
        font-size: 22px;
        font-family:  'Quicksand';
        color: #464855;
        padding :0 0 15px 0;

    }
    
    .article-content{
        
        font-size: 20px;
        font-family:  'Quicksand';
        color: #6B6F82;
        padding :0 0 15px 0;
        
        
    }
}