
.data-title {
    font-size :29px;
    font-family:  'Quicksand';
    color: #464855;
}

.data-grid{
    
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
   
    .data{
        transition: box-shadow .8s;
        border-radius:6px;
        background: #fff;
        padding: 22px;
        border : 1px solid #dddddd;


        h1{
            color: #1E9FF2;
            font-size: 21px;
            font-family: 'Quicksand';
            font-weight: 400;
        }

        h6{
            color: #464855;
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: 400;
            padding-top: 5px;
        }


    }
    .data:hover{
     
        box-shadow: 3px 8px 8px 8px rgba($color: #000, $alpha: 0.2);
    }

}



@media screen and (max-width: 992px){
        .data-grid{

            grid-template-columns: 1fr 1fr ;
       

        }
}


@media screen and (max-width: 600px){
    .data-grid{

        grid-template-columns: 1fr ;
   

    }
}