
.form__group {
    position: relative;
    text-align: center;    
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin: auto;
  }

  .form__field {
    font-family: 'Quicksand';
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
      }
    
      &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }


  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    font-family: 'Quicksand';
  }


  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color:  #000000;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #000000,#464855);
    border-image-slice: 1;
  }
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }
