.searchtable{
    margin-top: 30px;
    box-shadow: 8px 8px 8px 8px rgba($color: #000, $alpha: 0.2);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    text-align: center;


    .search-table-header{
        padding : 20px;
        color : #464855;
    }

    .results{
        margin-top: 25px;
        list-style: none;

        li{
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 17.5px;
            font-size: 16px;
            font-family: 'Quicksand';
            
            a{
                color: #1E9FF2;
            }
        };
    }


}